[submodule "gpuRIR"]
	path = gpuRIR
	url = https://code.fbi.h-da.de/est/est-workgroup/gpuRIR
[submodule "ssl4ips"]
	path = ssl4ips
	url = https://code.fbi.h-da.de/est/est-workgroup/ssl4ips
[submodule "cnnvideodetektor"]
	path = cnnvideodetektor
	url = https://code.fbi.h-da.de/est/est-workgroup/cnnvideodetektor
[submodule "audiovisualsensorfusion"]
	path = audiovisualsensorfusion
	url = https://code.fbi.h-da.de/est/est-workgroup/audiovisualsensorfusion
[submodule "trackeval"]
	path = trackeval
	url = https://code.fbi.h-da.de/est/est-workgroup/trackeval
