[submodule "gpuRIR"]
	path = gpuRIR
	url = https://github.com/Laurens26/gpuRIR
[submodule "ssl4ips"]
	path = ssl4ips
	url = https://code.fbi.h-da.de/est/est-workgroup/ssl4ips
[submodule "cnnvideodetektor"]
	path = cnnvideodetektor
	url = https://code.fbi.h-da.de/est/est-workgroup/cnnvideodetektor
[submodule "AudioVisualSensorFusion"]
	path = audiovisualsensorfusion
	url = https://github.com/Laurens26/AudioVisualSensorFusion
[submodule "TrackEval"]
	path = trackeval
	url = https://github.com/Laurens26/TrackEval
[submodule "VisualSimulationUnity"]
	path = visualsimulationunity
	url = https://github.com/Laurens26/VisualSimulationUnity
